* {
  box-sizing: border-box;
  outline: none; }

html,
body,
main {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 0;
  overflow-x: hidden; }

.button {
  min-width: 80px;
  padding: 10px;
  background-color: #f58ed7;
  border: 2px solid #eb4fba;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 250ms ease; }

.button--green {
  background-color: #137f18;
  border: 2px solid #137f18;
  color: #ffffff; }

.button--outline {
  background-color: #ffffff;
  color: #eb4fba; }

.button--disabled {
  background-color: #c9c9c9;
  border: 2px solid #c9c9c9;
  color: #f4f4f4; }

.button:hover {
  background-color: #eb4fba;
  color: #ffffff;
  cursor: pointer; }

.button--green:hover {
  background-color: #08c111;
  border: 2px solid #08c111;
  color: #ffffff; }

.button--disabled:hover {
  cursor: not-allowed;
  background-color: #c9c9c9;
  border: 2px solid #c9c9c9;
  color: #f4f4f4; }

.category {
  display: block;
  width: 40%;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f58ed7;
  border: 4px solid #eb4fba;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.nav {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: #101217; }

/*** Nav Header ***/
.nav__header {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
  height: 70px;
  background-color: #101217; }

.nav__logo {
  position: relative;
  height: 50px; }
  .nav__logo img {
    height: 100%; }

.nav__toggle {
  position: absolute;
  top: calc(50% - 4px);
  right: 20px;
  width: 35px;
  height: 21px;
  transform: translateY(-50%); }
  .nav__toggle > span {
    display: block;
    width: 35px;
    height: 3px;
    margin-top: 4px;
    background-color: #fe96bc;
    transition: all 200ms ease; }

.nav__toggle:hover {
  cursor: pointer; }
  .nav__toggle:hover > span {
    background-color: #eb4fba; }

/*** Nav Main ***/
.nav__main {
  position: absolute;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background-color: #f58ed7;
  transition: all 300ms ease-in; }

.nav__main.open {
  right: 0; }

.nav__menu {
  position: relative; }

.nav__toggle__close {
  position: absolute;
  top: 20px;
  right: 20px; }
  .nav__toggle__close > span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    transition: all 200ms ease; }
  .nav__toggle__close > span:first-child {
    transform: rotate(45deg); }
  .nav__toggle__close > span:last-child {
    transform: rotate(-45deg);
    margin-top: -4px; }

.nav__toggle__close:hover {
  cursor: pointer; }
  .nav__toggle__close:hover > span {
    background-color: #eb4fba; }

.nav__menu-links {
  position: relative;
  top: 100px; }
  .nav__menu-links > ul {
    list-style: none;
    padding-left: 0; }
  .nav__menu-links li {
    padding: 30px 0 20px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .nav__menu-links a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 200ms ease; }

.nav__menu-links a:hover {
  color: #eb4fba; }

@media screen and (min-width: 768px) {
  .nav__main {
    width: 45%; } }
@media screen and (min-width: 1024px) {
  .nav {
    height: 100px; }

  .nav__header {
    height: 100px; }

  .nav__logo {
    height: 80px; } }
.footer {
  background-color: #fe96bc;
  text-align: center;
  padding: 10px; }

.footer_team ul {
  list-style: none; }

.footer_team li {
  display: inline-block; }

.footer__team-members {
  width: 50px; }

.footer__img {
  width: 100%;
  height: auto;
  border-radius: 50%; }

.login--register {
  position: relative;
  background: #ffb0cd;
  padding: 40px; }

.login--register__background {
  position: absolute;
  width: 45%;
  height: 100%; }

.login--register .form__container {
  border: 1px solid #eef;
  overflow: hidden;
  background: #ffffff; }

.login--register__background > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  object-position: 80% 100%; }

.login--form, .register--form {
  padding: 20px; }

.login--form .form--group,
.register--form .form--group {
  padding: 5px; }

.login--form .form--input,
.register--form .form--input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 100%; }

.login--form .form--button {
  width: 100%;
  text-align: right;
  padding-right: 10px; }

.login__banner {
  background-color: #f58ed7;
  width: 100%;
  height: 100%; }

.rules h2 {
  text-transform: uppercase;
  color: #eb4fba; }

.rules__list li {
  font-size: 18px;
  margin-bottom: 20px; }

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  margin-bottom: 20px; }

.col-1 {
  flex: 1 1 8.333%;
  max-width: calc(8.333% - 20px); }

.col-2 {
  flex: 2 1 16.667%;
  max-width: calc(16.667% - 20px); }

.col-3 {
  flex: 3 1 24.999%;
  max-width: calc(24.999% - 20px); }

.col-4 {
  flex: 4 1 33.333%;
  min-width: calc(33.333% - 20px);
  max-width: 33.333%; }

.col-5 {
  flex: 5 1 41.665%;
  max-width: calc(41.665% - 20px); }

.col-6 {
  flex: 6 1 49.998%;
  max-width: calc(49.998% - 20px); }

.col-7 {
  flex: 7 1 58.333%;
  max-width: calc(58.333% - 20px); }

.col-8 {
  flex: 8 1 66.664%;
  max-width: calc(66.664% - 20px); }

.col-9 {
  flex: 9 1 74.997%;
  max-width: calc(74.997% - 20px); }

.col-10 {
  flex: 10 1 83.333%;
  max-width: calc(83.333% - 20px); }

.col-11 {
  flex: 11 1 91.663%;
  max-width: calc(91.663% - 20px); }

.col-12 {
  flex: 12 1 100%;
  max-width: calc(100% - 20px); }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin-right: 20px; }

.col-1:last-child,
.col-2:last-child,
.col-3:last-child,
.col-4:last-child,
.col-5:last-child,
.col-6:last-child,
.col-7:last-child,
.col-8:last-child,
.col-9:last-child,
.col-10:last-child,
.col-11:last-child,
.col-12:last-child {
  margin-right: 0; }

.col-1:last-child {
  min-width: 8.333%; }

.col-2:last-child {
  min-width: 16.667%; }

.col-3:last-child {
  min-width: 24.999%; }

.col-4:last-child {
  min-width: 33.333%; }

.col-5:last-child {
  min-width: 41.665%; }

.col-6:last-child {
  min-width: 49.998%; }

.col-7:last-child {
  min-width: 58.333%; }

.col-8:last-child {
  min-width: 66.664%; }

.col-9:last-child {
  min-width: 74.997%; }

.col-10:last-child {
  min-width: 83.333%; }

.col-11:last-child {
  min-width: 91.663%; }

.col-12:last-child {
  min-width: 100%; }

.col-offset-1 {
  margin-left: 8.333%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 24.999%; }

.col-offset-4 {
  margin-left: 33.333%; }

.col-offset-5 {
  margin-left: 41.665%; }

.col-offset-6 {
  margin-left: 49.998%; }

.col-offset-7 {
  margin-left: 58.333%; }

.col-offset-8 {
  margin-left: 66.664%; }

.col-offset-9 {
  margin-left: 74.997%; }

.col-offset-10 {
  margin-left: 83.333%; }

.col-offset-11 {
  margin-left: 91.663%; }

.col-offset-12 {
  margin-left: 100%; }

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto; }

@media screen and (min-width: 1440px) {
  .container {
    padding: 0; } }
.challenge-categories__container {
  padding-bottom: 50px;
  margin-top: 200px; }
  .challenge-categories__container .message {
    padding-bottom: 40px;
    padding-left: 0;
    text-transform: uppercase;
    text-align: center; }
  .challenge-categories__container .message:nth-child(2) {
    font-size: 56px; }

.challenge-categories__list {
  flex-wrap: wrap;
  justify-content: space-around; }
  .challenge-categories__list .button {
    font-size: 18px; }

.challenge-categories__category {
  height: auto;
  margin-top: 20px;
  border: 3px solid #eb4fba; }
  .challenge-categories__category > h3 {
    text-align: center;
    text-transform: uppercase; }

.challenge-categories__category.--active {
  background-color: #eb4fba;
  color: #ffffff; }

.challenges__cards__container {
  margin-top: 40px;
  margin-bottom: 100px; }

.challenges__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 40px);
  padding: 20px;
  margin: 0 auto;
  border: 5px dotted #101217;
  transition: all 200ms ease; }

.card {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 0;
  background-color: #f4f4f4;
  border: 1px solid #101217; }

.card__content {
  padding: 0 20px 10px; }

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card__top__status {
  font-size: 28px; }
  .card__top__status > i {
    color: #c9c9c9; }

.card__top__status--accomplished > i {
  color: #137f18; }

.card__top__tag {
  display: flex;
  align-items: center;
  font-size: 24px; }
  .card__top__tag > .language {
    padding-left: 10px;
    font-weight: 700; }

.card__details {
  padding-top: 30px;
  text-align: center; }
  .card__details > .button {
    width: 100%;
    margin-top: 50px; }

.card__details__points {
  color: #eb4fba;
  font-size: 32px; }

.card__details__less-points {
  opacity: 0; }

@media screen and (min-width: 769px) {
  .card {
    width: calc(50% - 20px);
    margin-right: 20px; }

  .card:nth-child(even) {
    margin-right: 0; } }
@media screen and (min-width: 1025px) {
  .card {
    width: calc(33% - 20px); }

  .card:nth-child(even) {
    margin-right: 20px; }

  .card:nth-child(3n) {
    margin-right: 0; } }
.revealed-cards__container {
  margin-top: 150px; }
  .revealed-cards__container .category {
    margin-bottom: 50px; }

.card__task {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: #f4f4f4;
  border: 2px solid #eb4fba; }

.card__details__instruction,
.card__details__question,
.card__details__choices {
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px; }

.card__details__choices > div {
  padding-bottom: 10px; }

.radio {
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer; }
  .radio > input {
    display: none; }

.radio__button {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #f58ed7;
  border-radius: 100%;
  box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2);
  transition: all 150ms ease-in; }
  .radio__button::before {
    content: "";
    color: #ffffff;
    transition: all 150ms ease-in; }

.radio__text {
  margin-left: 8px;
  font-weight: 400; }

.radio > input:checked + .radio__button:before {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #f58ed7;
  border-radius: 100%; }

.radio > input:disabled + .radio__button {
  background-color: #c9c9c9;
  border: 2px solid #f4f4f4;
  cursor: not-allowed; }
.radio > input:disabled ~ .radio__text {
  color: #c9c9c9;
  cursor: not-allowed; }

/*# sourceMappingURL=styles.css.map */
