* {
  box-sizing: border-box;
  outline: none;
}

body,
main {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}

.button {
  min-width: 80px;
  padding: 10px;
  background-color: #f58ed7;
  border: 2px solid #eb4fba;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.button--green {
  background-color: #83f285;
  border: 2px solid #137f18;
  color: #137f18;
}

.button--outline {
  background-color: #ffffff;
  color: #eb4fba;
}

.nav {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: #101217;
}

/*** Nav Header ***/
.nav__header {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
  height: 70px;
  background-color: #101217;
}

.nav__logo {
  position: relative;
  height: 50px;
}
.nav__logo img {
  height: 100%;
}

.nav__toggle {
  position: absolute;
  top: calc(50% - 4px);
  right: 20px;
  width: 35px;
  height: 21px;
  transform: translateY(-50%);
}
.nav__toggle > span {
  display: block;
  width: 35px;
  height: 3px;
  margin-top: 4px;
  background-color: #fe96bc;
  transition: all 200ms ease;
}

.nav__toggle:hover {
  cursor: pointer;
}
.nav__toggle:hover > span {
  background-color: #eb4fba;
}

/*** Nav Main ***/
.nav__main {
  position: absolute;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background-color: #f58ed7;
  transition: all 300ms ease-in;
}

.nav__main.open {
  right: 0;
}

.nav__menu {
  position: relative;
}

.nav__toggle__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.nav__toggle__close > span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  transition: all 200ms ease;
}
.nav__toggle__close > span:first-child {
  transform: rotate(45deg);
}
.nav__toggle__close > span:last-child {
  transform: rotate(-45deg);
  margin-top: -4px;
}

.nav__toggle__close:hover {
  cursor: pointer;
}
.nav__toggle__close:hover > span {
  background-color: #eb4fba;
}

.nav__menu-links {
  position: relative;
  top: 100px;
}
.nav__menu-links > ul {
  list-style: none;
  padding-left: 0;
}
.nav__menu-links li {
  padding: 30px 0 20px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__menu-links a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
}

.nav__menu-links a:hover {
  color: #eb4fba;
}

@media screen and (min-width: 768px) {
  .nav__main {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    height: 100px;
  }

  .nav__header {
    height: 100px;
  }

  .nav__logo {
    height: 80px;
  }
}
.footer {
  background-color: #eb4fba;
}

.footer__copyright {
  text-align: center;
}

.footer__description {
  text-align: center;
}

.footer__team-members {
  width: 100px;
}

.footer__img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  margin-bottom: 20px;
}

.col-1 {
  flex: 1 1 8.333%;
  max-width: calc(8.333% - 20px);
}

.col-2 {
  flex: 2 1 16.667%;
  max-width: calc(16.667% - 20px);
}

.col-3 {
  flex: 3 1 24.999%;
  max-width: calc(24.999% - 20px);
}

.col-4 {
  flex: 4 1 33.333%;
  max-width: calc(33.333% - 20px);
}

.col-5 {
  flex: 5 1 41.665%;
  max-width: calc(41.665% - 20px);
}

.col-6 {
  flex: 6 1 49.998%;
  max-width: calc(49.998% - 20px);
}

.col-7 {
  flex: 7 1 58.333%;
  max-width: calc(58.333% - 20px);
}

.col-8 {
  flex: 8 1 66.664%;
  max-width: calc(66.664% - 20px);
}

.col-9 {
  flex: 9 1 74.997%;
  max-width: calc(74.997% - 20px);
}

.col-10 {
  flex: 10 1 83.333%;
  max-width: calc(83.333% - 20px);
}

.col-11 {
  flex: 11 1 91.663%;
  max-width: calc(91.663% - 20px);
}

.col-12 {
  flex: 12 1 100%;
  max-width: calc(100% - 20px);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin-right: 20px;
}

.col-1:last-child,
.col-2:last-child,
.col-3:last-child,
.col-4:last-child,
.col-5:last-child,
.col-6:last-child,
.col-7:last-child,
.col-8:last-child,
.col-9:last-child,
.col-10:last-child,
.col-11:last-child,
.col-12:last-child {
  margin-right: 0;
}

.col-1:last-child {
  min-width: 8.333%;
}

.col-2:last-child {
  min-width: 16.667%;
}

.col-3:last-child {
  min-width: 24.999%;
}

.col-4:last-child {
  min-width: 33.333%;
}

.col-5:last-child {
  min-width: 41.665%;
}

.col-6:last-child {
  min-width: 49.998%;
}

.col-7:last-child {
  min-width: 58.333%;
}

.col-8:last-child {
  min-width: 66.664%;
}

.col-9:last-child {
  min-width: 74.997%;
}

.col-10:last-child {
  min-width: 83.333%;
}

.col-11:last-child {
  min-width: 91.663%;
}

.col-12:last-child {
  min-width: 100%;
}

.col-offset-1 {
  margin-left: 8.333%;
}

.col-offset-2 {
  margin-left: 16.667%;
}

.col-offset-3 {
  margin-left: 24.999%;
}

.col-offset-4 {
  margin-left: 33.333%;
}

.col-offset-5 {
  margin-left: 41.665%;
}

.col-offset-6 {
  margin-left: 49.998%;
}

.col-offset-7 {
  margin-left: 58.333%;
}

.col-offset-8 {
  margin-left: 66.664%;
}

.col-offset-9 {
  margin-left: 74.997%;
}

.col-offset-10 {
  margin-left: 83.333%;
}

.col-offset-11 {
  margin-left: 91.663%;
}

.col-offset-12 {
  margin-left: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  padding: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
