// Challenges Category
.challenge-categories__container {
  padding-bottom: 50px;
  margin-top: 200px;

  .message {
    padding-bottom: 40px;
    padding-left: 0;
    text-transform: uppercase;
    text-align: center;
  }

  .message:nth-child(2) {
    font-size: 56px;
  } 
}

.challenge-categories__list {
  flex-wrap: wrap;
  justify-content: space-around;

  .button {
    font-size: $font-large;
  }
}

.challenge-categories__category {
  height: auto;
  margin-top: 20px;
  border: 3px solid $pink-800;

  > h3 {
    text-align: center;
    text-transform: uppercase;
  }
}

.challenge-categories__category.--active {
  background-color: $pink-800;
  color: $white-900;
}


// Challenges Cards
.challenges__cards__container {
  margin-top: 40px;
  margin-bottom: 100px;
}

.challenges__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 40px);
  padding: 20px;
  margin: 0 auto;
  border: 5px dotted $black-800;
  transition: all 200ms ease;
}

.card {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 0;
  background-color: $white-800;
  border: 1px solid $black-800;
}

.card__content {
  padding: 0 20px 10px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__top__status {
  font-size: $font-xxlarge;

  > i {
    color: #c9c9c9;
  }
}

.card__top__status--accomplished {
  
  > i {
    color: $green-800;
  }
}

.card__top__tag {
  display: flex;
  align-items: center;
  font-size: $font-xlarge;

  > .language {
    padding-left: 10px;
    font-weight: 700;
  }
}

.card__details {
  padding-top: 30px;
  text-align: center;

  > .button {
    width: 100%;
    margin-top: 50px;
  }
}

.card__details__points {
  color: $pink-800;
  font-size: $font-xxxlarge;
}

.card__details__less-points {
 opacity: 0;
}

@media screen and (min-width: 769px ) {
  .card {
    width: calc(50% - 20px);
    margin-right: 20px;
  }

  .card:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1025px ) {
  .card {
    width: calc(33% - 20px);
  }

  .card:nth-child(even) {
    margin-right: 20px;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }
}