$black-800: #101217;
$black-800-transparent: rgba(255, 255, 255, 0.2);

$gray-800: #c9c9c9;

$white-900: #ffffff;
$white-800: #f4f4f4;

$pink-800: #eb4fba;
$pink-700: #f58ed7;
$pink-600: #fe96bc;
$pink-500: #f5a9d7;

$green-800: #137f18;
$green-700: #08c111;
$green-600: #83f285;