.button {
  min-width: 80px;
  padding: 10px;
  background-color: $pink-700;
  border: 2px solid $pink-800;
  color: $white-900;
  font-family: $font-primary;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 250ms ease;
}

.button--green {
  background-color: $green-700;
  border: 2px solid $green-800;
  color: $black-800;
}

.button--outline {
  background-color: $white-900;
  color: $pink-800;
}

.button:hover {
  background-color: $pink-800;
  color: $white-900;
  cursor: pointer;
}

.button--green:hover {
  background-color: $green-800;
  border: 2px solid $black-800;
  color: $white-900;
}