.footer {
    background-color: $pink-600; 
    text-align: center;
    padding: 10px;
}

.footer_team ul {
    list-style: none;
}

.footer_team li {
   display: inline-block;
}

.footer__team-members {
    width: 50px;
}

.footer__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
