.footer {
    background-color: $pink-800; 
}

.footer__copyright {
    text-align: center;
}

.footer__description {
    text-align: center;
}

.footer__team-members {
    width: 100px;
}

.footer__img {
    width: 100%;
    height: auto;
}
